{% extends '@FindLover/base.html.twig' %}
{% block mainblock %}
    {% if not app.user %}
        <div id="register-form">
            <h1 id="proverb">Stay Faithful or Register</h1>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {% for child in form.children|keys %}
                {% if '_token' != child %}
                    <div class="register-form-group">
                        {% if 'submit' != child %}
                            {{form_row(attribute(form.children,child), {'attr':{'class':'register-input form-input'}}) }}
                        {% else %}
                            {{form_row(attribute(form.children,child)) }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            {{ form_end(form) }}
        </div>
    {% else %}
        <section id="lovers-posts"></section>
    {% endif %}
{% endblock %}