html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    width: 100%;
    padding: 0 0 10px 0;
}

header nav ul a {
    color: #FFF;
}

section#lovers-recently-viewed{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    height: calc(100% - 60px);
}

section#main {
    width: calc(100% - 608px);
    vertical-align: top;
    display: inline-block;
    height: calc(100% - 60px);
}

section#lovers-recently-online {
    width: 300px;
    vertical-align: top;
    height: calc(100% - 60px);
    display: inline-block;
}

section#lovers-recently-online ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

header nav,
header nav ul {
    width: 100%;
    height: 100%;
}

header ul {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    padding: 5px 10px;
    font-size: 18px;
    display: inline-block;
    position: relative;
}

header nav ul li:hover {
    cursor: pointer;
}

header {
    color: #FFF;
    background: -webkit-linear-gradient(left, pink , #B429C1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, pink, #B429C1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, pink, #B429C1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, pink , #B429C1); /* Standard syntax */
}

main h1#proverb {
    color: pink;
    margin: 25px 0;
    text-align: center;
}

.register-login-button {
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 25px;
    background: #DE80C6;
    font-weight: bold;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
    outline: none;
}

.register-login-button:hover {
    color: #DE80C6;
    border: 2px solid #DE80C6;
    background: #FFF;
}

header #login-form {
    margin-left: 20px;
}

header #login-form label {
    font-weight: bold;
}

header #lover-search-input-li {
    width: 350px;
    position: relative;
}

header .lover-search-input {
    width: calc(100% - 20px);
    outline: 0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 0;
}

.form-input {
    padding: 4px;
    border: 0;
    outline: none;
    border-radius: 25px;
}

main #register-form {
    width: 800px;
    height: 600px;
    border-radius: 30px;
    border: 10px solid #DE80C6;
    margin: 0 auto;
    background: -webkit-linear-gradient(left, pink , #B429C1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, pink, #B429C1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, pink, #B429C1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, pink , #B429C1); /* Standard syntax */
}

main #register-form form {
    width: 100%;
    height: 100%;
}

main #register-form .register-form-group {
    margin: 20px 10px;
    width: 47%;
    height: 10%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

main #register-form .register-form-group ul {
    position: absolute;
    list-style-type: none;
    color: #DB0027;
    margin-left: 10%;
    padding-left: 0;
    margin-top: 10px;
    font-weight: bold;
}

main #register-form .register-form-group div {
    display: inline-block;
}

main #register-form .register-form-group div:not(.register-input) {
    width: 100%;
}

main #register-form .register-form-group label {
    display: inline-block;
    width: 30%;
    color: #FFF;
    font-weight: bold;
}

main .register-input {
    height: 27px;
    width: 65%;
}

.register-form-button {
    position: absolute;
    left: calc(50% - 75px);
    padding: 20px 50px;
}

.ui-autocomplete,
div[role=status] {
    display: none !important;
}

#result-lovers {
    display: none;
    position: absolute;
    border: 1px solid #DADADA;
    background: #FFF;
    height: auto;
    left: 20px;
    width: 328px;
    overflow-y: scroll;
    max-height: 320px;
    -ms-overflow-style: none;
    z-index: 999;
}

#result-lovers::-webkit-scrollbar {
    display: none;
}

#result-lovers li {
    width: 100%;
    height: 46px;
    padding: 2px 0;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result-lovers li#template,
#recent-searches li#template-search-lover,
li#template-lover,
#notifications-list #notification-template {
    display: none;
}

#search-more {
    height: 15px !important;
    font-size: 14px;
}

.search-result-item:hover {
    background: -webkit-linear-gradient(left, pink , #B429C1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, pink, #B429C1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, pink, #B429C1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, pink , #B429C1); /* Standard syntax */
    color: #FFF !important;
}

.search-result-item a {
    color: #000;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-result-item:hover a {
    color: #FFF;
}

.profile-picture,
.search-profile-pic,
.notification-profile-pic {
    position: relative;
    top: 10px;
    left: 0;
    height:30px;
    width: 30px;
    border-radius: 50%;
}

.search-profile-pic {
    position: absolute;
    left: 10px;
}

.notification-profile-pic {
    left: 10px;
    top: calc(50% - 15px);
    position: absolute;
}

#notification-utils {
    position: absolute;
    display: none;
    left: 13px;
    top: 22px;
}

#notification-utils #circle {
    font-size: 15px;
    color: red;
    top: 0;
    position: absolute;
}
#notification-utils #count {
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    left: 3px;
}

#notifications-list{
    position: absolute;
    display: none;
    bottom: -65px;
    background: #FFF;
    width: 380px;
    height: auto;
    border: 1px solid #DADADA;
    left: -170px;
}

#notifications-list .notification {
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

#notifications-list .notification-text {
    position: absolute;
    right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    width: 70%;
    word-wrap: normal;
    overflow: hidden;
    font-size: 16px;
    height: 100%;
}

#notifications-list .notification-control {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1px;
    background: pink;
    border-radius: 15px;
    width: 30%;
    padding: 1px;
    height: 25%;
}

#notifications-list .notification-control:hover {
    color: pink;
    border: 1px solid pink;
    background: #FFF;
}

.notification-control#cancel {
    right: 20%;
}

.notification-control#accept {
    left: 18%;
}

#notifications-list #time-happened {
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;
    font-size: 15px;
    color: #000;
}

li.lover-in-online-section {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

li.lover-in-online-section .search-profile-pic {
    left: 5px;
}

li.lover-in-online-section:hover,
li.recent-search-lover:hover {
    background: #dddfe2;
}

li.lover-in-online-section span {
    position: absolute;
    left: 40px;
    text-align: center;
    word-wrap: break-word;
    color: #000;
    font-size: 15px;
    max-width: 75%;
    max-height: 90%;
}

li.lover-in-online-section #online-or-last {
    left: initial;
    right: 8px;
    font-size: 13px;
    width: 14%;
    text-align: center;
}

li.lover-in-online-section .fa-circle {
    color: #59DB5D;
}

ul#recent-searches {
    width: 100%;
    height: 100%;
    margin: 0;
    list-style-type: none;
    padding: 0;
}

#recent-searches li {
    width: 100%;
    height: 55px;
    position: relative;
    margin-bottom: 10px;
}

#recent-searches li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#recent-searches li a #lovers-data {
    position: absolute;
    left: 45px;
}
