html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
header {
    width: 100%;
    padding: 0 0 10px 0;
}

header nav,
header nav ul {
    width: 100%;
    height: 100%;
}

header ul {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    padding: 5px 10px;
    font-size: 18px;
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    color: #FFF;
}

header nav ul li:hover {
    cursor: pointer;
}

header {
    color: #FFF;
    background: -webkit-linear-gradient(left, pink , #B429C1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, pink, #B429C1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, pink, #B429C1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, pink , #B429C1); /* Standard syntax */
}

main h1#proverb {
    color: pink;
    margin: 5px;
    text-align: center;
}

.register-login-button {
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 25px;
    background: #DE80C6;
    font-weight: bold;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
    outline: none;
}

.register-login-button:hover {
    color: #DE80C6;
    border: 2px solid #DE80C6;
    background: #FFF;
}

header #login-form {
    margin-left: 20px;
}

header #login-form label {
    font-weight: bold;
}

header #lover-search-input-li {
    width: 350px;
    position: relative;
}

header .lover-search-input {
    width: calc(100% - 20px);
    outline: 0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 0;
}

.form-input {
    padding: 4px;
    border: 0;
    outline: none;
    border-radius: 25px;
}

main #register-form {
    width: 800px;
    height: 600px;
    border-radius: 30px;
    border: 10px solid #DE80C6;
    margin: 0 auto;
    background: -webkit-linear-gradient(left, pink , #B429C1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, pink, #B429C1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, pink, #B429C1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, pink , #B429C1); /* Standard syntax */
}

main #register-form form {
    width: 100%;
    height: 100%;
}

main #register-form .register-form-group {
    margin: 20px 10px;
    width: 47%;
    height: 10%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

main #register-form .register-form-group ul {
    position: absolute;
    list-style-type: none;
    color: #DB0027;
    margin-left: 10%;
    padding-left: 0;
    margin-top: 10px;
    font-weight: bold;
}

main #register-form .register-form-group div {
    display: inline-block;
}

main #register-form .register-form-group div:not(.register-input) {
    width: 100%;
}

main #register-form .register-form-group label {
    display: inline-block;
    width: 30%;
    color: #FFF;
    font-weight: bold;
}

main .register-input {
    height: 27px;
    width: 65%;
}

.register-form-button {
    position: absolute;
    left: calc(50% - 75px);
    padding: 20px 50px;
}

.ui-autocomplete,
div[role=status] {
    display: none !important;
}

#result-lovers {
    display: none;
    position: absolute;
    border: 1px solid #DADADA;
    background: #FFF;
    height: auto;
    left: 20px;
    width: 328px;
    overflow-y: scroll;
    max-height: 320px;
}

#result-lovers li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    padding: 2px 0;
    color: #000;
}

#search-more {
    height: 15px !important;
    font-size: 14px;
}

.search-result-item {
    position: relative;
}

.search-result-item:hover {
    background: -webkit-linear-gradient(left, pink , #B429C1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, pink, #B429C1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, pink, #B429C1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, pink , #B429C1); /* Standard syntax */
    color: #FFF !important;
}

.profile-picture,
.search-profile-pic {
    position: relative;
    top: 10px;
    left: 0;
    height:30px;
    width: 30px;
    border-radius: 50%;
}

.search-profile-pic {
    position: absolute;
    left: 10px;
}